---
title: Research
layout: parallaxbanner
banner: /static/img/research/cryo_image_helical_tube.png
group: research
---

<div class="flow-text"> <h5 style="text-align:left;">"In one of my favorite science fables, Sydney Brenner supposedly opened a seminar at the storied **[LMB](http://www2.mrc-lmb.cam.ac.uk/)** by saying; *I think we can all agree that structural biology is UN-interesting; that hydrogen bonds and beta-pleated sheets are boring.* I tell new students and post-docs this legend whenever we sit down to discuss what they want to explore following the **[Resolution Revolution](http://www.nature.com/news/the-revolution-will-not-be-crystallized-a-new-method-sweeps-through-structural-biology-1.18335)** in cryo-EM. You can now determine atomic structures of just about anything you want to, I tell them, but we didn’t come here to collect structures. Or, as George Palade is rumored to have taught his trainees, many things are interesting, few are important."
</h4></div>
<div class="divider"></div>

<h6 class="flow-text center"> Below are summaries of our funded projects.</h5>

<div class="section">
  <h3>Active Projects</h3>	
  <div class="row">
  {% for topic in site.data.research_topics %}
    <div class="col s12 m10 offset-m1 l8 offset-l2">

      <div class="card hoverable">
        <div class="card-image">
          <img src="{{site.baseurl}}{{topic.image}}"/>
        
        <div class="card-action">
        <a  href={{site.baseurl}}{{topic.url}}><strong> {{topic.name}}</strong></a>
        </div>
        </div>
      </div>
    
    </div>


  {% endfor %}
  </div>
</div>

<div class="section">
  <h3>Elapsed Projects</h3>	
  <div class="row">
  {% for topic in site.data.old_research_topics %}
    <div class="col s12 m10 offset-m1 l8 offset-l2">

      <div class="card hoverable">
        <div class="card-image">
          <img src="{{site.baseurl}}{{topic.image}}"/>
        
        <div class="card-action">
        <a  href={{site.baseurl}}{{topic.url}}><strong> {{topic.name}}</strong></a>
        </div>
        </div>
      </div>
    
    </div>


  {% endfor %}
  </div>
</div>

