<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Frost Lab at UCSF">
  <meta name="author" content="Ben Barad @benjaminbarad">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/ico" href="static/img/favicon.ico">

</head>
<body>

<div class="navbar-spacer"></div>
<nav class="navbar">
<div class="container">
<ul class="navbar-list">
<li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
<li class="navbar-item">
<a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
<div id="codeNavPopover" class="popover">
<ul class="popover-list">
<li class="popover-item">
<a class="popover-link" href="#grid">Grid</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#typography">Typography</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#buttons">Buttons</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#forms">Forms</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#lists">Lists</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#code">Code</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#tables">Tables</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#queries">Queries</a>
</li>
<li class="popover-item">
<a class="popover-link" href="#utilities">Utilities</a>
</li>
</ul>
</div>
</li>
<li class="navbar-item"><a class="navbar-link" href="#examples">Examples</a></li>
<li class="navbar-item">
<a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
<div id="moreNavPopover" class="popover">
<ul class="popover-list">
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton">On Github</a>
</li>
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
</li>
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
</li>
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
</li>
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
</li>
<li class="popover-item">
<a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</nav>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">