---
title: Frost Lab Blog
layout: parallaxbanner
banner: /static/img/em_8.jpg
group: group
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="section" id="post.title"> 
  <!-- <hr> -->
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <!-- <span class="author"><a href="/members#{{post.author}}">{{post.author}}</a></span><br> -->
    <span class="date"><em>{{ post.date | date_to_long_string }}</em></span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
</div>
{% if forloop.last == false %} <div class="divider"></div> {% endif %}
{% endfor %}


<!-- This makes links to other paginator pages -->
{% if paginator.total_pages > 1 %}
<div class="divider"></div>
<ul class="pagination">
  {% if paginator.previous_page %}
    <li class="waves-effect"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
    <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active grey lighten-2 waves-effect"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
      <li class="waves-effect"><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li class="waves-effect"><a href="{{ '/blog/page:num' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="waves-effect"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
    <li><span><i class="material-icons">chevron_right</i></span></li>
  {% endif %}
</ul>
<br>
<br>
{% endif %}
