---
title: Members
layout: parallaxbanner
banner: /static/img/people/UCSF_Mission_Bay_Campus.jpg
group: members
---
<h2 class="center"> Current Members </h2>
{% for person in site.data.members %}
<!-- TODO -->
<div class="divider"></div>
<div id="{{person.name}}" class="section">
  <div class="row member">
    <div class="col s6 m3 center">
      <img class="responsive-img circle member-photo" src="{{site.baseurl}}{{person.image}}" alt="{{person.name}}'s picture"></img>
    </div>
    <div class="col s6 m3 center">
      <div class="valign"><strong>{{person.name | markdownify}}</strong></div>
      {% if person.cv %}
      <div class="valign"><a href="{{site.baseurl}}{{person.cv}}" style="color:black;"><strong>CV</strong></a></div>
      {% endif %}
    </div>
    <div class="col s6 m3 center ">
      <div class="grey-text">{{person.position | markdownify}}</div>
    </div>
    <div class="col s6 m3 center ">
      <div>{{person.email}}</div>
    </div>
  </div>
</div>
{% endfor %}



<h2 class="center"> Alumni </h2>

{% for person in site.data.alumni %}
<!-- TODO -->
<div class="divider"></div>
<div id="{{person.name}}" class="section">
  <div class="row member">
    <div class="col s6 m3 center">
      <img class="responsive-img circle member-photo" src="{{site.baseurl}}{{person.image}}" alt="{{person.name}}'s picture"></img>
    </div>
    <div class="col s6 m3 center">
      <div class="valign"><strong>{{person.name | markdownify}}</strong></div>
    </div>
    <div class="col s6 m3 center ">
      <div class="grey-text">{{person.new_position | markdownify}}</div>
    </div>
    <div class="col s6 m3 center ">
      <div>{{person.new_location | markdownify}}</div>
    </div>
  </div>
</div>
{% endfor %}
